/* CSS Document */

#cab{width: 100%;max-height: 177px;background: #fff;z-index: 999999;border-bottom: 1px solid #ddd;}
#cab h1{font-size:20px; display:inline-block; letter-spacing:0.22em; color:#444444; margin-top: 25px;}
#cab img{vertical-align: middle; margin:0 5px 0 20px;}
#cab .wp{ float:right; margin-top:22px; font-size:22px; font-weight:bold; color:#078E5D; }
#cab .bg{ float:right; padding:10px 50px 10px 50px; margin-right:20px; margin-left:20px; margin-top:15px;background-color:#43D1AF;font-weight: bold;}
#cab .bg a{ text-decoration:none; color:#FFFFFF; }
#cab .fb{ float:right; margin-top:14px; font-size:22px; font-weight:bold; margin-right:20px;}
#cab .fb a{ text-decoration:none; color:#FFFFFF; color:#6B6B6B; }
#cab .fb .label{ display:none;}

body, input {line-height: 1.5; margin:0; font-size:17px; font-family:"Lato", "Helvetica Neue", "Helvetica", "arial", sans-serif; color:#404040; background-color:#F5F5F5; font-display: swap;}
/*p{margin: 16px 0px;}*/

#all{width:100%;max-width:620px;margin:0 auto; overflow:hidden;box-sizing:border-box; background-color:#fff;}
#all-ctd{width:94%; margin: 0 auto;}
#ctd{width:100%;margin:0 -25% 0 0;position:relative;}
	.lad-b{position:absolute;width:166px;right:-189px;text-align:center;}
	.lad-b-fix{position:fixed;}
	.site-main{margin:0;}
	
	.post-single{
	max-width:99%;
	background:#fff;
	/*margin: 0 auto 1.5em !important;*/
	padding: 20px 0;}
	.post-single img{ width:100%;}
    
.bimg{ width:100%; height:auto; border:1px solid #CCC;padding:6px;background:#fff; margin-top:5px;}
	
#pie{with:100%; background:#fff; border-top:1px solid #ddd; height:150px; text-align:center; padding-top:90px; z-index:0 !important;}	
	

.menu{display:block; background:#334e96; border-top: 6px solid #dbdbdb; margin-top:14px; }
.menu ul{ margin:0px;list-style:none;padding:0px;display:flex; /*flex-direction:row; por defecto es row*/
justify-content:center; /*justify-content:flex-end a la izquierda centro o derecha*/}
.menu li{ /*flex-grow:1; /*encajar en proporcion ocupando todo el espacion*/}
.menu li a{ display:block; padding:1.2rem; font-size:1.2rem; color:#fefeff; text-decoration:none; font-weight:bold;}
.menu li:hover{ text-decoration:underline; color:#DC1115; }	
.post-single ol{list-style:decimal;height:auto;padding:0px;margin:0px; border:solid 1px lightsteelblue;}
.post-single ol li{font-size:16px;font-weight:normal;padding:0px 0px 0px 0px;margin:0px 0px 1px 33px;}
.post-single ol li a{color:#176092;text-decoration:none;text-align:center;min-width:100px;}
.post-single ol li a:hover{color:#333333;text-decoration:underline;}	
	
	
@media screen and (max-width:800px){
    .lad-b-fix{ display:none;}
    #cab { align-items: center;}
	#cab .fb{ display:none;}
	#cab h1{font-size:18px; letter-spacing:0.1em;}
	#cab img{margin:0 5px 0 5px;}
	#cab .bg{ padding:0;}
	#cab .bg a{ display:none;}
	#cab .wp{font-size:20px; margin-right:-20px; display: none;}

	}
	
	
/*galeria*/
section.galeria {padding: .5vw;font-size: 0;-ms-flex-wrap: wrap;-ms-flex-direction: column;-webkit-flex-flow: row wrap;flex-flow: row wrap;display: -webkit-box;display: flex;display:-ms-flexbox;margin: 1%; box-sizing:border-box; width:100%; margin:0 auto; padding-top:0;}
section.galeria div {-webkit-box-flex: auto;-ms-flex: auto;flex: auto;width: 180px;margin: .5vw;border: 1px solid #ddd;background-color:#EFEBEB;}
section.galeria div img {width: 100%;height: auto;}
section.galeria div h1{width: 100%;height:auto;margin:0 !important;font-size:18px;border-top: 1px #ddd solid; text-align:center;}	  
section.galeria div p{width: 100%;height: auto;margin:0 !important;font-size:14px;}
section.galeria div a{text-decoration:none; color:#444444; text-align:center;}
@media screen and (max-width: 400px) {
section.galeria div { margin: 10px 0 0 0; }
section.galeria { padding: 0; }
}
/*end*/

/*form*/
.form-style-6{
    font: 95% Arial, Helvetica, sans-serif;
    max-width: 240px;
    margin: 10px auto;
   	padding: 0 16px 16px 16px;
    background: #F7F7F7;
}
.form-style-6 h1{
    background: #43D1AF;
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #fff;
    margin: -16px -16px 16px -16px;
}
.form-style-6 textarea{ height:77px;}

.form-style-6 input[type="text"],
.form-style-6 input[type="date"],
.form-style-6 input[type="datetime"],
.form-style-6 input[type="email"],
.form-style-6 input[type="number"],
.form-style-6 input[type="search"],
.form-style-6 input[type="time"],
.form-style-6 input[type="url"],
.form-style-6 textarea,
.form-style-6 select 
{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 3%;
    color: #555;
    font: 95% Arial, Helvetica, sans-serif;
}
.form-style-6 input[type="text"]:focus,
.form-style-6 input[type="date"]:focus,
.form-style-6 input[type="datetime"]:focus,
.form-style-6 input[type="email"]:focus,
.form-style-6 input[type="number"]:focus,
.form-style-6 input[type="search"]:focus,
.form-style-6 input[type="time"]:focus,
.form-style-6 input[type="url"]:focus,
.form-style-6 textarea:focus,
.form-style-6 select:focus
{
    box-shadow: 0 0 5px #43D1AF;
    padding: 3%;
    border: 1px solid #43D1AF;
}

.form-style-6 input[type="submit"],
.form-style-6 input[type="button"]{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 3%;
    background: #43D1AF;
    border-bottom: 2px solid #30C29E;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;    
    color: #fff;
}
.form-style-6 input[type="submit"]:hover,
.form-style-6 input[type="button"]:hover{
    background: #2EBC99;
}
/*end*/
